@charset "utf-8";
body{
    font-size:16px;
    font-family:'arial','Hiragino Sans','Meiryo','sans-serif';
    color:#333333;
}
header{
    width:1240px;
    margin:0 auto 44px;
}
p{
    text-align: center;
    margin-bottom: 20px;
}