@charset "utf-8";
header{
    width:1400px;
    margin:0 auto 44px;
}
header nav ul{
    display:flex;
    justify-content: center;
    border-top: 2px solid #7c5d48;
    border-bottom: 2px solid #7c5d48;
    background-color: rgba(255,255,255,0.42);
    padding: 12px 0px 10px;
}
header nav ul li{
    margin:0 20px;
    font-size: 22px;
    font-weight: bold;
    color: #7c5d48;
}
header nav ul li :hover{
    text-decoration: underline double;
}
h1{
    text-align: center;
    padding:20px 0px 16px;
}
.headjpg{
    border-radius: 50%;
}
body{
    font-size:16px;
    font-family:'arial','Hiragino Sans','Meiryo','sans-serif';
    color:#333333;
    background-color: #FFDC35;
}
.divoutside{
    width: 1380px;
    margin:0 auto 50px;
    display: flex;
    justify-content: space-between;
    column-gap: 1.5em;
}
.outside{
    flex-basis: 920px;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 62px 72px 32px 72px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.16);
    position: static;
}
aside{
    flex-basis: 284px;
}
aside nav {
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.16);
    padding: 24px 28px;
    margin-bottom:24px;
    
}
.inside{
    width: 1150px;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 62px 72px 32px 72px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.16);
    position: static;
    
}
.imgcenter{
    margin:auto;
}
.link-top {
    width: 100%;
    height: 1px;
    border-top: solid #ACC0D8 1px;
}
.link-top1 {
    width: 100%;
    height: 1px;
    border-top: solid #ACC0D8 1px;
}
.speech-bubble-left{
	position: relative;
	background: #e6db65;
	border-radius: .4em;
    width:700px;
    height: auto;
    display: inline-block;
    margin-left: 35px;
    line-height:35px;
    padding-left: 5px;
    margin-bottom: 15px;
    

}

.speech-bubble-left:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 41px solid transparent;
	border-right-color: #e6db65;
	border-left: 0;
	border-bottom: 0;
	margin-top: -20.5px;
	margin-left: -41px;
    
}
.speech-bubble-right {
	position: relative;
	background: #e6db65;
	border-radius: .4em;
    width:700px;
    height: auto;
    display: inline-block;
    margin-right: 35px;
    line-height:35px;
    padding-left: 5px;
    margin-bottom: 15px;
    margin-left: 300px;

    
}

.speech-bubble-right:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 41px solid transparent;
	border-left-color: #e6db65;
	border-right: 0;
	border-bottom: 0;
	margin-top: -20.5px;
	margin-right: -41px;
}
.dialogl{
    display: flex;
    border: 10px;
}
.dialogr{
    display: flex;
    border: 10px;
    
  
}
